:root {
  --body-bg: #123;
  --nav-bg: #234;
}

* {
  box-sizing: border-box;
}
html {
  font-family: system-ui;
}
body {
  min-height: 200vh;
  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  color: white;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 4rem;
}

nav {
  position: sticky;
  top: 0;
  max-height: 100svh;
  background-color: var(--nav-bg);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 2rem;
  padding-block: 2rem;
}

.nav-list li {
  padding: 1rem 2rem;
  margin-left: 2rem;
  border-radius: 100vw 0 0 100vw;
  cursor: pointer;
}

.nav-list li.active {
  view-transition-name: activeNavTab;
  /* powoduje płynne przejście */
  background: var(--body-bg);
  position: relative;
}

.nav-list li:nth-child(1) a {
  view-transition-name: navLink-1;
}

.nav-list li:nth-child(2) a {
  view-transition-name: navLink-2;
}

.nav-list li:nth-child(3) a {
  view-transition-name: navLink-3;
}

::view-transition-group(activeNavTab) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 2rem;

  content: "";
  position: absolute;
  height: var(--border-radius);
  width: var(--border-radius);
  right: 0;
  background: red;
}

.nav-list li.active::before {
  top: calc(var(--border-radius) * -1);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 5px 5px 0 5px var(--body-bg);
  background: var(--nav-bg);
}

.nav-list li.active::after {
  bottom: calc(var(--border-radius) * -1);
  border-top-right-radius: var(--border-radius);
  box-shadow: 5px -5px 0 5px var(--body-bg);
  background: var(--nav-bg);
}

.nav-list a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 10;
  padding: 1rem;
}
